html,body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:260px;
  color:#333;
}
#imglist{
  float: left;
	width: 30%;
	margin: 0 auto;
}
.rotate_left
{
	-ms-transform:rotate(2deg); /* IE 9 */
	-moz-transform:rotate(2deg); /* Firefox */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
	-o-transform:rotate(2deg); /* Opera */
	transform:rotate(2deg);
}
.polaroid
{
  height:150px;
	width:150px;
	padding: 30px;
	background-color: #eee;
}
#de{
  margin: auto;
  width:300px;
  height:300px;
}
#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
  background:#eee;
}

#img-gif{
  float: left;
  width: auto;
  height: auto;
  border:5px solid white;
  background:white;
}
#img-div{
  width: auto;
  height: auto;
  border:5px solid white;
  background:white;
}
#img-caption{
  margin:15px;
  text-align: center;
}
#headline{
  margin-top:50px;
  text-align:left;
}
blockquote{
  font-style: italic;
}
